.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    border: 1px solid black;

}
.logo{
    width:100px;
}

.nav-items > ul{
    display: flex;
    list-style-type: none;
    margin: 5px;
    font-size: 20px;
}
.nav-items>ul>li{
    margin: 10px;
    padding: 10px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-card{
    width: 150px;
    background-color: #f0f0f0;
    padding:5px;
    margin: 3px;
    overflow-wrap: break-word;
}

.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}
.res-logo{
    width: 100%;
}
.search{
    padding: 10px;

}

.filter-btn{
    margin: 10px;
    cursor: pointer;
}

