.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    border: 1px solid black;

}
.logo{
    width:150px;
}

.nav-items > ul{
    display: flex;
    list-style-type: none;
    margin: 5px;
    font-size: 20px;
}
.nav-items>ul>li{
    margin: 10px;
    padding: 10px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-card{
    width: 150px;
    background-color: #f0f0f0;
    padding:5px;
    margin: 3px;
    overflow-wrap: break-word;
}

.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}
.res-logo{
    width: 100%;
}
.search{
    padding: 10px;

}

.filter{
    display: flex;
    
}
.filter-btn{
    margin: 10px;
    cursor: pointer;
    
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.shimmer-card{
    width:150px;
    height:300px;
    background-color: #f0f0f0;
    margin: 3px;
    padding: 5px;
}
.login{
    padding: 0 20px;
    margin-right: 10px;
    cursor: pointer;
    height: 30px;
    align-self: center;
}

.link{
    text-decoration: none;
    color: black;
}

.link:hover {
    color:gray;
}

